<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Business News Center</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
	{% if form.errors %}
	    <p>Invalid username or password pattern. Please retry</p>
	{% endif %}
        <div class="register-form">
            <form class="reg" method="post" action="/users/register/">
		{% csrf_token %}
                <div class="header-form">
                    <p>Registration Details</p>
                </div>
                <p>
                    <div class=form-input>
                        <label class="reg-label" for="id_username">Username:</label>
                        <input class="reg-input" type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus="" required="" id="id_username">
                    </div>
                </p>
                <p>
                    <div class=form-input>
                        <label class="reg-label" for="id_password1">Password:</label>
                        <input class="reg-input" type="password" name="password1" autocomplete="new-password" required="" id="id_password1">
                    </div>
                </p>
                
                <p>
                    <div class="form-input">
                        <label class="reg-label" for="id_password2">Confirm password:</label>
                        <input class="reg-input" type="password" name="password2" autocomplete="new-password" required="" id="id_password2">
                    </div>
                </p>
                <ul class="help-text">
                    <li>Username must be 150 characters or fewer. Letters, digits and @/./+/-/_ only.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can’t be entirely numeric.</li>
                </ul>
                <button name="submit">Register</button>
                <input type="hidden" name="next" value="/index/">
            </form>
        </div>
    </body>
</html>
