*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open sans", sans-serif;
}


.container{
    max-width: 100%;
    height: 100%;
    background: #fff;
}

.container header{
    background: #5E63BA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.container header img{
    max-width: 130px;
    border-radius: 50%;
}

.container .nav-class{
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    font-size: 1.15rem;
}

.container header nav a{
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    font-size: 1.15rem;
}

.container header nav a:hover{
    color: #8289c9;
}

.container footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #5E63BA;
    height: 50px;
    padding: 0 20px;
    color: #fff;
    font-size: 1rem;
}

.container footer a{
    margin-right: 10px;
    text-decoration: none;
    color: #fff;
}

.container footer nav a:hover{
    color: #8289c9;
}
.main{
    margin: 30px 0;
    font-size: 1.2rem;
}

.main .contents{
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    margin: 30px auto;
    max-width: 850px;
}

.contents img{
    min-width: 130px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-left: 30px;
    background: #f2f2f2;
}

.news-details h4{
    color: #5E63BA;
}

.news-details p{
    display: flex;
    line-height: 22px;
    font-weight: 500;
    margin: 20px 0 10px;
    font-size: 1.15rem;
}

.news-details a{
    color: #5E63BA;
    text-decoration: none;
    font-size: 1rem;
}

.news-details a:hover{
    color: #8289c9;
}

/* About page */
.about-content{
    height: 100vh;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 50px;
    padding: 20px 30px;
    margin: 50px 30px;
}

.about-content p b{
    color: #5E63BA;
    font-size: 1.5rem;
}

.about-content p a{
    text-decoration: none;
    color: #5E63BA;
}

.about-content p a:hover{
    color: #8289c9;
}

/* Login */
.login-form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: #8289c9;
}

.login-form form{
    width: 850px;
    background: #fff;
    margin: 50px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

form p{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 15px;
}

form p.username{
    margin-top: 20px;
}

form p.password{
    margin: 20px 0 30px;
    padding: 10px 0;
}

form p label{
    font-size: 1.13rem;
    font-weight: 600;
    min-width: 100px;
}

form p input{
    border-radius: 10px;
    background: #f2f2f2;
    height: 30px;
    width: 33%;
    border: 2px solid #ccc;
    text-align: center;
    outline: none;
}

form button{
    background: #5E63BA;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px 40px;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
    transform: translateX(50%);
}
