<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Business News Center</title>
        <link rel="stylesheet", href="style.css">
    </head>

    <header>
        <div class="header-section">
            <img src="images/logo.jpg" alt="logo image">
            <nav class="nav-class">
                <a href="">Home</a>
                <a href="">About this site</a>
            </nav>
        </div>
    </header>
    <body>
        <div class="container"></div>
    </body>
    <footer class="footer-section">
        <p>&copy; Business news site 2024</p>
        <nav class="nav-class">
            <a href="">Home</a>
            <a href="">About this site</a>
        </nav>
    </footer>
</html>