<!DOCTYPE html>
<html lang="en">
    <head>
	{% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Business News Center</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>

    <!--<header>
        <div class="header-section">
		<img src="{% static 'images/logo.jpg' %}" alt="logo image">
            <nav class="nav-class">
		    <a href="{% url 'news_content:index' %}">Home</a>
		    <a href="{% url 'news_content:about' %}">About this site</a>
            </nav>
        </div>
    </header>-->
    
    <body>
        <header>
        <div class="header-section">
                <img src="{% static 'images/logo.jpg' %}" alt="logo image">
            <nav class="nav-class">
                    <a href="{% url 'news_content:index' %}">Home</a>
                    <a href="{% url 'news_content:about' %}">About this site</a>
            </nav>
        </div>
        </header>
        <div class="container">
	    {% for content in contents %}
            <div class="row">
                <img src="{{ content.image }}" alt="{{ content.site_name }}" class="item-image">
                <div class="contents">
                    <h2>{{ content.title }}</h2>
                    <p>{{ content.description }}</p>
                    <a href="{{ content.link }}">Read more</a>
                </div>
            </div>
	    {% endfor %}
        </div>
        <footer class="footer-section">
            <p>&copy; Business news site 2024</p>
            <nav class="nav-class">
                    <a href="{% url 'news_content:index' %}" target="blank">Home</a>
                    <a href="{% url 'news_content:about' %}" target="blank">About this site</a>
            </nav>
        </footer>
    </body>
</html>
